<nav>
  <% if (!locals.user) { %>
  <a href="/">Home</a>
  <div>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </div>
  <% } else { %>
    <div>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/upload">Upload File</a>
      <a href="/upload/files/folder/root">Files</a>
    </div>
    <div>
      <a href="/logout">Log Out</a>
    </div>

  <% } %>
</nav>